@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width:100%;
	min-height:100vh;
	background-color: rgb(54, 59, 66);
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
    color:white;
}

input {
	color: black;
	border-radius:6px;
	border: 1px solid gray;
	padding-left: 2px;
}

middle {
	display:flex;
	flex: 0 auto;
	flex-direction:column;
	justify-content: center;
    align-items: center;
    align-content: center;
}

h6 {
	font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
	font-weight: 700;
}

.box{
    background-color: rgb(31 41 55);
	/* background-image: linear-gradient(rgb(43, 43, 43), rgb(0, 29, 76)); */
	border-radius: 0.5rem;
    border-color: rgb(255 255 255);
	border-width: 1px;
	padding: 0.75rem/* 12px */;
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

button {
	border: 1px solid rgb(29, 78, 216);
	background-image: linear-gradient(to bottom right, rgb(37, 99, 235), rgb(96, 165, 250));
	border-radius:8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.submit {
	background-image: linear-gradient(to bottom right, rgb(21, 128, 61), rgb(74, 222, 128));
	border-color: rgb(21, 128, 61);
}

button:hover {
	border-color: white;
}

button:disabled {
	opacity:50%
}

.error {
	background-color: rgb(252, 165, 165);
	color: rgb(239, 68, 68);
	border: 1px solid rgb(239, 68, 68);
	border-radius: 8px;
	padding: 4px;
}

.alert {
	background-color: rgb(253, 230, 138);
	color: rgb(251, 191, 36);
	border: 1px solid rgb(251, 191, 36);
	border-radius: 8px;
	padding: 4px;
}

.success {
	background-color: rgb(134, 239, 172);
	color: rgb(34, 197, 94);
	border: 1px solid rgb(34, 197, 94);
	border-radius: 8px;
	padding: 4px;
}