@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(54, 59, 66);
    background-image: linear-gradient(rgb(51, 65, 85), rgb(30, 41, 59));
    background-attachment: fixed;
    color: white;
}

input,
select,
textarea {
    color: black;
    border-radius: 6px;
    border: 1px solid gray;
    padding-left: 2px;
}

middle {
    display: flex;
    flex: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
}

button {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

button:disabled {
    opacity: 50%;
}

.box {
    background-color: rgb(31 41 55);
    background-image: linear-gradient(
        to bottom,
        rgb(31 41 55),
        rgb(12, 25, 45)
    );
    border-color: rgb(255 255 255);
    color: white;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 0.75rem;
    width: fit-content;

    box-shadow: 0px 0px 3px 1px white;
}

/* .box::before {
	content:'';
	position:absolute;
	bottom:0px;
	right:0px;
	width:0px;
	border-bottom: 80px solid rgb(18, 24, 33);
	border-left: 80px solid transparent;

	border-bottom-right-radius:0.5rem;

	z-index:1;
} */

.header {
    background-color: rgb(15 23 42);
    background-image: linear-gradient(
        to bottom,
        rgb(28, 38, 52),
        rgb(12, 25, 45)
    );
}

.submit {
    background-image: linear-gradient(
        to bottom right,
        rgb(21, 128, 61),
        rgb(74, 222, 128)
    );
    border-color: rgb(21, 128, 61);
    border-radius: 8px;
}

.error {
    background-color: rgb(252, 165, 165);
    color: rgb(239, 68, 68);
    border: 1px solid rgb(239, 68, 68);
    border-radius: 8px;
    padding: 4px;
}

.alert {
    background-color: rgb(253, 230, 138);
    color: rgb(245, 158, 11);
    border: 1px solid rgb(251, 191, 36);
    border-radius: 8px;
    padding: 4px;
}

.success {
    background-color: rgb(134, 239, 172);
    color: rgb(34, 197, 94);
    border: 1px solid rgb(34, 197, 94);
    border-radius: 8px;
    padding: 4px;
}

.otherButton {
    border-radius: 0.5rem;
    border-color: rgb(7 89 133);
    border-width: 2px;
    font-weight: 700;
    background-image: linear-gradient(
        to bottom right,
        rgb(7, 89, 133),
        rgb(30, 41, 59)
    );

    /*"border-sky-800 border-2 font-bold bg-gradient-to-br from-sky-800 to-slate-800 rounded-lg hover:bg-gradient-to-tl*/
}
